<div class="sidebar-content">
    <div class="sidebar-overlay">
        <span class="side-header">How's the Day!</span>

        <img src="//cdn.weatherapi.com/weather/64x64/night/113.png" />
        <span class="side-text">Misty</span>

        <div class="other-info">
            <div class="other-info-card">
                <span class="card-value">4.7 Kph</span>
                <span class="card-text">Wind speed</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">E</span>
                <span class="card-text">Wind Dir</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">79</span>
                <span class="card-text">Humidity</span>
            </div>

            <div class="other-info-card">
                <span class="card-value">29.8 in</span>
                <span class="card-text">Pressure</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">0</span>
                <span class="card-text">UV</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">34</span>
                <span class="card-text">Feels like</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">29.8</span>
                <span class="card-text">CO</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">0</span>
                <span class="card-text">O3</span>
            </div>
            <div class="other-info-card">
                <span class="card-value">34</span>
                <span class="card-text">SO2</span>
            </div>
        </div>
    </div>
</div>