/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-color-w {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-snackbar-surface {
  background-color: #87192e96 !important;
}

[mode="day"] {
  --color-primary-bg: #1e2020bd;
  --color-secondary-bg: #1e2020bd;
  --color-seconday-text: #f0e6bb;
}

[mode="night"] {
  --color-primary-bg: #131621bd;
  --color-secondary-bg: #131621bd;
  --color-seconday-text: #86a7b3;
}
